body {
    background: #eeeeee;
    color: #34363b;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    max-width: 50em;
    margin: auto;
}

.historyTable {
    width: 100%;
}

.live {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 5em;
    width: 62.5em;
    font-size: 0.8em;
    background: #cccccc;
    bottom: 0;
    border-radius: 5px;
    border: 1px solid black;
}

.liveGame {
    margin: 10px;
}

td {
    text-align: center;
    padding: 4px;
}


.aggregateRow {
    background: #dddddd;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #111111;
}

.playedGamesRow {
    background: #dddddd;
}

.collapsibleIcon {
    font-weight: bold;
    float: left;
    width: 1em;
}